<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title" class="lead pb-3" *ngIf="!isUpdateRegister && !isModeViewForm">
                            {{ "user.form.TitleAdd" | translate }}
                        </h4>
                        <h4 class="title" class="lead pb-3" *ngIf="isUpdateRegister">
                            {{ "user.form.TitleEdit" | translate }}
                        </h4>
                        <h4 class="title" class="lead pb-3" *ngIf="isModeViewForm">
                            {{ "user.form.TitleView" | translate }}
                        </h4>
                    </div>
                    <div class="content">
                        <form #rF="ngForm" [formGroup]="registerForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">{{ "general.name.title" | translate }}:</label> <span
                                            class="star">*</span>
                                        <input type="text" class="form-control" id="name" name="name"
                                            formControlName="name" maxlength="50"
                                            [ngClass]="!isValidFormName() ? '' : 'error'" />
                                        <small [hidden]="!isValidFormName()" class="text-danger">
                                            {{ "general.name.required" | translate }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">{{ "general.email.title" | translate }}:</label> <span
                                            class="star">*</span>
                                        <input type="email" class="form-control" id="email" name="email"
                                            formControlName="email" maxlength="50"
                                            [ngClass]="!isValidFormEmail() ? '' : 'error'" />
                                        <small [hidden]="!isValidFormEmail()" class="text-danger">
                                            {{ "general.email.required" | translate }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="login">{{ "general.login.title" | translate }}:</label> <span
                                            class="star">*</span>
                                        <input type="text" class="form-control" id="login" name="login"
                                            formControlName="login" maxlength="50"
                                            [ngClass]="!isValidFormLogin() ? '' : 'error'" />
                                        <small [hidden]="!isValidFormLogin()" class="text-danger">
                                            {{ "general.login.required" | translate }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password">{{ "general.password.title" | translate }}:</label> <span
                                            class="star">*</span>
                                        <input type="password" class="form-control" id="password" name="password"
                                            formControlName="password" maxlength="50"
                                            [ngClass]="!isValidFormPassword() ? '' : 'error'" />
                                        <small [hidden]="!isValidFormPassword()" class="text-danger">
                                            {{ "general.password.required" | translate }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="language"> {{ "general.language.title" | translate }}:</label>
                                        <span class="star">*</span>
                                        <select formControlName="language" required name="language" class="form-control"
                                            data-style="btn-default btn-block"
                                            [ngClass]="!isValidFormLanguage() ? '' : 'error'" data-title="Select"
                                            data-menu-style="dropdown-blue" (change)="onSelect($event.target.value)">
                                            <option value="">{{ "general.select" | translate }}</option>
                                            <option *ngFor="let c of languagesGlobal" [value]="c.id">{{ c.name +" (" +
                                                c.id
                                                +")" }}
                                            </option>

                                        </select>
                                        <small [hidden]="!isValidFormLanguage()" class="text-danger">
                                            {{ "general.language.required" | translate }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="timezone"> {{ "general.timezone.title" | translate }}:</label> <span
                                            class="star">*</span>
                                        <select formControlName="timezone" required name="timezone" class="form-control"
                                            data-style="btn-default btn-block"
                                            [ngClass]="!isValidFormTimezone() ? '' : 'error'" data-title="Select"
                                            data-menu-style="dropdown-blue" (change)="onSelect($event.target.value)">
                                            <option value="">{{ "general.select" | translate }}</option>
                                            <option *ngFor="let c of timeZonesGlobal" [value]="c.id">{{ c.name +" (" +
                                                c.id
                                                +")" }}
                                            </option>
                                        </select>
                                        <small [hidden]="!isValidFormTimezone()" class="text-danger">
                                            {{ "general.timezone.required" | translate }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="role"> {{ "general.mainrole.title" | translate }}:</label> <span
                                            class="star">*</span>
                                        <select formControlName="role" required name="role" class="form-control"
                                            data-style="btn-default btn-block"
                                            [ngClass]="!isValidFormRole() ? '' : 'error'" data-title="Select"
                                            data-menu-style="dropdown-blue" (change)="onSelect($event.target.value)">
                                            <option value="">{{ "general.select" | translate }}</option>
                                            <option *ngFor="let c of rolesOpts" [value]="c.code">{{ c.name }}
                                            </option>
                                        </select>
                                        <small [hidden]="!isValidFormLanguage()" class="text-danger">
                                            {{ "general.mainrole.required" | translate }}
                                        </small>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="role">{{ "medical.title" | translate }}</label>
                                        <select formControlName="medicalId" name="medicalId" class="form-control"
                                            data-style="btn-default btn-block"
                                            [ngClass]="!isValidFormMedicalId() ? '' : 'error'" data-title="Select"
                                            data-menu-style="dropdown-blue" (change)="onSelect($event.target.value)">
                                            <option value="">{{ "general.select" | translate }}</option>
                                            <option *ngFor="let c of medicalsOpts" [value]="c.id">{{ c.name }}
                                            </option>

                                        </select>
                                        <small [hidden]="!isValidFormMedicalId()" class="text-danger">
                                            {{ "medical.required" | translate }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="roleGroupsIds"> {{ "specialty.titles" | translate }}:</label> <span
                                            class="star">*</span>
                                        <div *ngFor="let data of roleGroupOpts; let i=index">
                                            <div class="checkbox checkbox-inline">
                                                <input [id]="'checkbox' + data.id" type="checkbox" [value]="data.id"
                                                    (change)="onCheckboxChange($event)" [checked]="data.selected"
                                                    [disabled]="this.isModeViewForm" />
                                                <label [for]="'checkbox' + data.id">
                                                    {{data.description}}
                                                </label>
                                            </div>
                                        </div>
                                        <small [hidden]="!isValidFormRoleGroupsIds()" class="text-danger">
                                            {{ "specialty.requireds" | translate }}
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="adminOpt">{{ "general.admin" | translate }}:</label>
                                        <div class="clearfix"></div>
                                        <bSwitch formControlName="adminOpt" required [switch-on-color]="'primary'">
                                        </bSwitch>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="enableOpt"> {{ "general.enable" | translate }}:</label>
                                        <div class="clearfix"></div>
                                        <bSwitch formControlName="enableOpt" required [switch-on-color]="'primary'">
                                        </bSwitch>
                                    </div>
                                </div>
                            </div>
                            <button [@botaoAnimado]="estadoBotao_goBackToList"
                                (mouseenter)="animarBotao('final', 'goBackToList')"
                                (mouseleave)="animarBotao('inicial', 'goBackToList')" type="button"
                                class="btn btn-wd btn-default" (click)="goBackToList()">
                                <span class="btn-label">
                                    <i class="fa fa-arrow-left"></i>
                                </span>
                                {{ "general.backnav" | translate }}
                            </button>
                            <button type="button" [@botaoAnimado]="estadoBotao_addRegister"
                                (mouseenter)="animarBotao('final', 'addRegister')"
                                (mouseleave)="animarBotao('inicial', 'addRegister')"
                                class="btn btn-info btn-fill pull-right" (click)="addRegister()"
                                *ngIf="!isUpdateRegister" [disabled]="rF.invalid || this.isModeViewForm">{{
                                "general.saveregisterbtn" | translate }}</button>

                            <button type="button" [@botaoAnimado]="estadoBotao_updateRegister"
                                (mouseenter)="animarBotao('final','updateRegister')"
                                (mouseleave)="animarBotao('inicial', 'updateRegister')"
                                class="btn btn-info btn-fill pull-right" (click)="updateRegister()"
                                *ngIf="isUpdateRegister" [disabled]="rF.invalid || this.isModeViewForm">{{
                                "general.updateregisterbtn" | translate }}</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>