<div class="wrapper wrapper-full-page">
    <div class="full-page register-page" data-color="red" data-image="../../../assets/img/full-screen-image-2.jpg">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="header-text">
                            <div class="media">
                                <div class="media-body text-center">
                                    <i class="pe-7s-search"></i>
                                    <h1>{{ "notfoundpage.title" | translate }}</h1>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="media">
                            <div class="media-body text-center"> 
                                <h2>{{ "notfoundpage.category" | translate }}</h2>
                                <p>{{ "notfoundpage.description" | translate }}</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                        <button type="button" class="btn btn-wd btn-default" routerLink="/">
                            <span class="btn-label">
                                <i class="fa fa-arrow-left"></i>
                            </span>
                            {{ "notfoundpage.backnav" | translate }}
                        </button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
        <footer class="footer footer-transparent">
            <div class="container">
                <p class="copyright text-center">
                    &copy; <a href="https://www.creative-tim.com">n/f</a>, made with love for a better web
                </p>
            </div>
        </footer>
    </div>
</div>