<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <p class="category">Satellite Map</p>
                    </div>
                    <div class="content">
                        <google-map height="360px" width="100%" [center]="center" [zoom]="3" [mapTypeId]="'satellite'" [options]="mapOptions">
                            <map-marker [position]="center"></map-marker>
                        </google-map>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                      <p class="category">Regular Map</p>
                    </div>
                    <div class="content">
                        <google-map height="360px" width="100%" [center]="center" [zoom]="13" [options]="mapOptions">
                            <map-marker [position]="center"></map-marker>
                        </google-map>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
