<div class="container-fluid" *ngIf="isCanAccess">
  <div id="dailyschedulecontainer" class="container-fluid">

    <div class="header">
      <h4 class="title"> {{ "calendardailySchedule.header.title" | translate }} </h4>
      <p class="category"> {{ "calendardailySchedule.header.category" | translate }}</p>
    </div> 
    <!-- Header -->
    <div class="row mb-3 header-row">
      <div class="col-md-6 header-left">
        <h3 class="mb-0"><i class="pe-7s-date"></i> {{ today | date:'EEEE' }}</h3>
      </div>
      <div class="col-md-6 header-right">
        <h3 class="mb-0">{{ today | date:'MMMM d, y' }}</h3>
      </div>
    </div>
    <!-- Card -->
    <div class="row mb-3">
      <div class="col">
        <div class="card cardCustom">
          <div class="card-body">
            <div *ngIf="loading" class="text-center">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">{{ "calendardailySchedule.loading" | translate }}</span>
              </div>
            </div>

            <div *ngIf="!loading">
              <div *ngFor="let event of events" class="event-item mb-3 p-3">
                <div class="row">
                  <div class="col-md-3 time-font">
                    <i class="pe-7s-clock" title="{{ event.start |  date:'fullDate' }}"></i> {{ event.start |
                    date:'HH:mm' }} - {{ event.end | date:'HH:mm' }}
                  </div>
                  <div class="col-md-6">
                    <span class="badge" [ngStyle]="{'background-color': event.backgroundColor}"
                      style="width: 10px; height: 10px; display: inline-block; border-radius: 50%;"
                      title="{{ event?.medicalCalendar?.description }} - {{ event.title }}"></span>

                    <span class="title-font">{{ event.title }}</span>

                  </div>
                  <div class="col-md-3 text-end" *ngIf="!event.isPastDate">
                    <button class="btn btn-success btn-sm title-font"><i class="pe-7s-play"></i> {{
                      "calendardailySchedule.button.startAppointment" | translate }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Alert -->
    <div class="container mt-4" *ngIf="events.length === 0">
      <div class="alert alert-info">
        {{ "calendardailySchedule.noEvents" | translate }}
      </div>
    </div>
    <!-- New Footer -->
    <div class="row mb-3 footer-row">
      <div class="col-12">
        <span>
          <i class="pe-7s-refresh-2 fa-spin"></i>
          {{ "calendardailySchedule.refresh.nextRefresh" | translate }}:
          {{ autoRefreshHelper.minutesUntilRefresh }}:{{ autoRefreshHelper.secondsUntilRefresh | number:'2.0-0' }}
        </span>
      </div>
    </div>
  </div>
</div>