<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Striped Table with Hover</h4>
            <p class="category">Here is a subtitle for this table</p>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  @for (cell of tableData1.headerRow; track cell) {
                    <th>{{ cell }}</th>
                  }
                </tr>
              </thead>
              <tbody>
                @for (row of tableData1.dataRows; track row) {
                  <tr>
                    @for (cell of row; track cell) {
                      <td>{{cell}}</td>
                    }
                  </tr>
                }
              </tbody>
            </table>

          </div>
        </div>
        <div class="col-md-12">
          <div class="card card-plain">
            <div class="header">
              <h4 class="title">Table on Plain Background</h4>
              <p class="category">Here is a subtitle for this table</p>
            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-hover">
                <thead>
                  <tr>
                    @for (cell of tableData2.headerRow; track cell) {
                      <th>{{ cell }}</th>
                    }
                  </tr>
                </thead>
                <tbody>
                  @for (row of tableData2.dataRows; track row) {
                    <tr>
                      @for (cell of row; track cell) {
                        <td>{{cell}}</td>
                      }
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">Regular Table with Colors</h4>
              <p class="category">Here is a subtitle for this table</p>
            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-hover">
                <thead>
                  <tr>
                    @for (cell of tableData3.headerRow; track cell) {
                      <th>{{ cell }}</th>
                    }
                  </tr>
                </thead>
                <tbody>
                  <tr class="success">
                    @for (cell of tableData3.dataRows[0]; track cell) {
                      <td>{{cell}}</td>
                    }
                  </tr>
                  <tr>
                    @for (cell of tableData3.dataRows[1]; track cell) {
                      <td>{{cell}}</td>
                    }
                  </tr>
                  <tr class="info">
                    @for (cell of tableData3.dataRows[2]; track cell) {
                      <td>{{cell}}</td>
                    }
                  </tr>
                  <tr>
                    @for (cell of tableData3.dataRows[3]; track cell) {
                      <td>{{cell}}</td>
                    }
                  </tr>
                  <tr class="danger">
                    @for (cell of tableData3.dataRows[4]; track cell) {
                      <td>{{cell}}</td>
                    }
                  </tr>
                  <tr>
                    @for (cell of tableData3.dataRows[5]; track cell) {
                      <td>{{cell}}</td>
                    }
                  </tr>
                  <tr class="warning">
                    @for (cell of tableData3.dataRows[6]; track cell) {
                      <td>{{cell}}</td>
                    }
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
