<div class="container mt-4">
  <h2 class="mb-4">Calendário Mensal</h2>

  <!-- Formulário de Filtro -->
  <form [formGroup]="calendarForm" (ngSubmit)="getMonthlyCalendar()" class="mb-4">
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="medicalId">ID Médico</label>
        <input type="number" id="medicalId" formControlName="medicalId" class="form-control" placeholder="Digite o ID do Médico" disabled="true">
      </div>
      <div class="form-group col-md-2">
        <label for="month">Mês</label>
        <input type="number" id="month" formControlName="month" class="form-control" placeholder="Digite o Mês">
      </div>
      <div class="form-group col-md-2">
        <label for="year">Ano</label>
        <input type="number" id="year" formControlName="year" class="form-control" placeholder="Digite o Ano">
      </div>
      <div class="form-group col-md-2">
        <label for="intervalInMinutes">Intervalo (minutos)</label>
        <input type="number" id="intervalInMinutes" formControlName="intervalInMinutes" class="form-control" placeholder="Digite o Intervalo" disabled="true">
      </div>
      <div class="form-group col-md-3">
        <label for="filterByDate">Filtrar por Data</label>
        <input type="date" id="filterByDate" formControlName="filterByDate" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="filterDaysAndTimesWithAppointments">Filtrar Dias e Horários com Compromissos</label>
        <input type="checkbox" id="filterDaysAndTimesWithAppointments" formControlName="filterDaysAndTimesWithAppointments" class="form-check-input">
      </div>
      <br /><br /><br />   <br /><br /><br />
            <div class="form-group col-md-1 d-flex align-items-end">
        <button type="submit" class="btn btn-primary">Buscar</button>
      </div>
    </div>
  </form>

  <br /><br /><br />   <br /><br /><br />
  <!-- Resultado da Busca -->
  <div *ngIf="calendarData; else loading">
    <div class="calendar-grid">
      <div class="calendar-header">
        <div class="day-header" *ngFor="let day of weekDays">{{ day }}</div>
      </div>
      <div class="calendar-body">
        <div *ngFor="let day of calendarData.days" class="calendar-day">
          <div class="day-number">{{ getDayByFormatDateToLocal(day.date) }}</div>
          <ul class="list-group list-group-flush">
            <li *ngFor="let timeSlot of day.timeSlots; trackBy: trackByTimeId" class="list-group-item d-flex justify-content-between align-items-center">
              <div>
                <span>{{ formatDateToLocal(timeSlot.startTime) | date:'HH:mm' }} - {{ formatDateToLocal(timeSlot.endTime) | date:'HH:mm' }}</span>
              </div>
              <div>
                <span class="badge" [ngClass]="{'badge-success': timeSlot.isAvailable, 'badge-secondary': !timeSlot.isAvailable}">
                  {{ timeSlot.isAvailable ? 'Disponível' : 'Indisponível' }}
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Carregando...</span>
      </div>
    </div>
  </ng-template>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    <p>{{ errorMessage }}</p>
  </div>
</div>
