<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                    </div>
                    <div class="content">
                        <form [formGroup]="form">

                            <div class="form-group">
                                <label for="swal-patient" class="text-left">{{ labels.labelPatient }}</label>
                                <select class="form-control" formControlName="patientId" id="swal-patient">
                                    <option value="">{{ labels.labelSelectPatient }}</option>
                                    <ng-container *ngFor="let p of patients">
                                        <option [value]="p.id"
                                            [selected]="selectedEvent?.medicalCalendar?.patientId === p.id">{{ p.text }}
                                        </option>
                                    </ng-container>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="swal-title" class="text-left">{{ labels.labelTitle }}</label>
                                <input type="text" class="form-control" id="swal-title" formControlName="title">
                            </div>
                            <div class="form-group">
                                <label for="swal-startTime" class="text-left">{{ labels.labelStartTime }}</label>
                                <input type="time" class="form-control" id="swal-startTime" formControlName="startTime">
                            </div>
                            <div class="form-group">
                                <label for="swal-endTime" class="text-left">{{ labels.labelEndTime }}</label>
                                <input type="time" class="form-control" id="swal-endTime" formControlName="endTime">
                            </div>
                            <div class="form-group">
                                <label for="swal-location" class="text-left">{{ labels.labelLocation }}</label>
                                <input type="text" class="form-control" id="swal-location" formControlName="location">
                            </div>
                            <div class="form-group">
                                <label for="swal-color" class="text-left">{{ labels.labelColor }}</label>
                                <input type="color" class="form-control" id="swal-color"
                                    formControlName="colorCategoryHexa">
                            </div>
                            <div class="form-group">
                                <label class="text-left">{{ labels.labelAllDay }}</label>
                                <input type="checkbox" id="swal-allDay" formControlName="allDay">
                            </div>
                            <div class="form-group">
                                <label for="swal-recurrence" class="text-left">{{ labels.labelRecurrence }}</label>
                                <select class="form-control" id="swal-recurrence" formControlName="recurrenceType">
                                    <option value="">{{ labels.labelSelectRecurrence }}</option>
                                    <ng-container *ngFor="let option of recurrenceOptions">
                                        <option [value]="option.value">{{ option.label }}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <div class="form-group" id="recurrence-details">
                                <div class="form-group">
                                    <label for="swal-recurrenceDays" class="text-left">{{ labels.labelRecurrenceDays
                                        }}</label>
                                    <div *ngFor="let day of daysOfWeek" class="form-check">
                                        <input class="form-check-input" type="checkbox" [value]="day.value"
                                            [checked]="selectedEvent?.recurrenceDays?.includes(day.value)"
                                            id="day-{{day.value}}">
                                        <label class="form-check-label" for="day-{{day.value}}">{{ day.label }}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="swal-recurrenceEndDate" class="text-left">{{
                                        labels.labelRecurrenceEndDate }}</label>
                                    <input type="date" class="form-control" id="swal-recurrenceEndDate"
                                        formControlName="recurrenceEndDate">
                                </div>
                                <div class="form-group">
                                    <label for="swal-recurrenceCount" class="text-left">{{ labels.labelRecurrenceCount
                                        }}</label>
                                    <input type="number" class="form-control" id="swal-recurrenceCount"
                                        formControlName="recurrenceCount">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('swal-recurrence').addEventListener('change', function () {
        const recurrenceDetails = document.getElementById('recurrence-details');
        recurrenceDetails.style.display = this.value ? 'block' : 'none';
    });
</script>