<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title" class="lead pb-3" *ngIf="!isUpdateRegister && !isModeViewForm">
                            {{ "medical.form.TitleAdd" | translate }}
                        </h4>
                        <h4 class="title" class="lead pb-3" *ngIf="isUpdateRegister">
                            {{ "medical.form.TitleEdit" | translate }}
                        </h4>
                        <h4 class="title" class="lead pb-3" *ngIf="isModeViewForm">
                            {{ "medical.form.TitleView" | translate }}
                        </h4>
                    </div>
                    <div class="content">
                        <form #rF="ngForm" [formGroup]="registerForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">{{ "general.name.title" | translate }}:</label> <span
                                            class="star">*</span>
                                        <input type="text" class="form-control" id="name" name="name"
                                            formControlName="name" maxlength="255"
                                            [ngClass]="!isValidFormName() ? '' : 'error'" />
                                        <small [hidden]="!isValidFormName()" class="text-danger">
                                            {{ "general.name.required" | translate }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">{{ "general.email.title" | translate }}:</label> <span
                                            class="star">*</span>
                                        <input type="email" class="form-control" id="email" name="email"
                                            formControlName="email" maxlength="100"
                                            [ngClass]="!isValidFormEmail() ? '' : 'error'" />
                                        <small [hidden]="!isValidFormEmail()" class="text-danger">
                                            {{ "general.email.required" | translate }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="typeAccreditation">
                                            {{ "medical.typeAccreditation.title" | translate }}:</label> <span
                                            class="star">*</span>
                                        <select formControlName="typeAccreditation" required name="typeAccreditation"
                                            class="form-control" data-style="btn-default btn-block"
                                            [ngClass]="!isValidFormTypeAccreditation() ? '' : 'error'"
                                            data-title="Select" data-menu-style="dropdown-blue"
                                            (change)="onSelect($event.target.value)">
                                            <option value="">{{ "general.select" | translate }}</option>
                                            <option *ngFor="let c of typeAccreditationOpts" [value]="c.code">
                                                {{ c.name }}
                                            </option>
                                        </select>
                                        <small [hidden]="!isValidFormTypeAccreditation()" class="text-danger">
                                            {{ "medical.typeAccreditation.required" | translate }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="accreditation">{{ "medical.accreditation.title" | translate
                                            }}:</label> <span class="star">*</span>
                                        <input type="text" class="form-control" id="accreditation" name="accreditation"
                                            formControlName="accreditation" maxlength="10"
                                            [ngClass]="!isValidFormAccreditation() ? '' : 'error'" />
                                        <small [hidden]="!isValidFormAccreditation()" class="text-danger">
                                            {{ "medical.accreditation.required" | translate }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="officeId">{{ "office.title" | translate }}:</label> <span
                                            class="star">*</span>
                                        <select data-title="Select" data-menu-style="dropdown-blue"
                                            data-style="btn-default btn-block" class="form-control" name="officeId"
                                            formControlName="officeId" [ngClass]="!isValidFormOfficeId() ? '' : 'error'"
                                            required (change)="onSelect($event.target.value)">
                                            <option value="">{{ "general.select" | translate }}</option>
                                            <option *ngFor="let c of officesOpts" [value]="c.id">{{ c.description }}
                                            </option>
                                        </select>
                                        <small [hidden]="!isValidFormOfficeId()" class="text-danger">
                                            {{ "office.required" | translate }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="specialtiesIds"> {{ "specialty.titles" | translate }}:</label> <span
                                            class="star">*</span>
                                        <div *ngFor="let data of specialtiesOpts; let i=index">
                                            <div class="checkbox checkbox-inline">
                                                <input [id]="'checkbox_specialtiesIds' + data.id" type="checkbox"
                                                    [value]="data.id" (change)="onCheckboxChange($event, 'specialtiesIds')"
                                                    [checked]="data.selected" [disabled]="this.isModeViewForm" />
                                                <label [for]="'checkbox_specialtiesIds' + data.id">
                                                    {{data.description}}
                                                </label>
                                            </div>
                                        </div>
                                        <small [hidden]="!isValidFormSpecialtiesIds()" class="text-danger">
                                            {{ "specialty.requireds" | translate }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><!-- startWorkingTime - ini -->
                                    <div class="form-group">
                                        <label for="startWorkingTime">{{ "medical.startWorkingTime.title" | translate }}
                                        </label> <span class="star">*</span>
                                        <input type="time" class="form-control" id="startWorkingTime"
                                            name="startWorkingTime" formControlName="startWorkingTime" maxlength="5"
                                            [ngClass]="isValidFormStartWorkingTime() ? 'error' : ''"  />
                                        <small [hidden]="!isValidFormStartWorkingTime()" class="text-danger">
                                            {{ "medical.startWorkingTime.required" | translate }}
                                        </small>
                                    </div>
                                </div><!-- startWorkingTime - end -->
                                <div class="col-md-4"><!-- endWorkingTime - ini -->
                                    <div class="form-group">
                                        <label for="endWorkingTime">{{ "medical.endWorkingTime.title" | translate }}: </label>
                                        <span class="star">*</span>
                                        <input type="time" class="form-control" id="endWorkingTime"
                                            name="endWorkingTime" formControlName="endWorkingTime" maxlength="5"
                                            [ngClass]="isValidFormEndWorkingTime() ? 'error' : ''" />
                                        <small [hidden]="!isValidFormEndWorkingTime()" class="text-danger">
                                            {{ "medical.endWorkingTime.required" | translate }}
                                        </small>
                                    </div>
                                </div> <!-- endWorkingTime - end -->
                                <div class="col-md-4"><!-- patientIntervalTimeMinutes - ini -->
                                    <div class="form-group">
                                        <label for="patientIntervalTimeMinutes">{{ "medical.patientIntervalTimeMinutes.title" | translate }}:
                                        </label> <span class="star">*</span>
                                        <input type="number" min="0" max="120" class="form-control"
                                            id="patientIntervalTimeMinutes" name="patientIntervalTimeMinutes"
                                            formControlName="patientIntervalTimeMinutes" maxlength="5"
                                            [ngClass]="!isValidFormPatientIntervalTimeMinutes() ? '' : 'error'" />
                                        <small [hidden]="!isValidFormPatientIntervalTimeMinutes()" class="text-danger">
                                            {{ "medical.patientIntervalTimeMinutes.required" | translate }}
                                        </small>
                                    </div>
                                </div><!-- patientIntervalTimeMinutes - end -->
                            </div>
                            <div class="row"><!-- workingDays - ini -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="workingDays">{{ "medical.workingDays.title" | translate }}: </label> <span
                                            class="star">*</span>
                                        <div formArrayName="workingDays">
                                            <div *ngFor="let day of daysOfWeeksOpts; let i=index">
                                                <div class="checkbox checkbox-inline">
                                                    <input [id]="'ckboxworkingDays' + day.value" type="checkbox"
                                                        [value]="day.value"
                                                        (change)="onCheckboxChange($event,'workingDays')"
                                                        [checked]="day.selected" [disabled]="this.isModeViewForm" />
                                                    <label [for]="'ckboxworkingDays' + day.value">
                                                        {{day.name}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <small [hidden]="!isValidFormWorkingDays()" class="text-danger">
                                            {{ "medical.workingDays.required" | translate }}
                                        </small>
                                    </div>
                                </div>
                            </div> <!-- workingDays - end -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="enableOpt"> {{ "general.enable" | translate }}:</label>
                                        <div class="clearfix"></div>
                                        <bSwitch formControlName="enableOpt" required [switch-on-color]="'primary'">
                                        </bSwitch>
                                    </div>
                                </div>
                            </div>
                            <button [@botaoAnimado]="estadoBotao_goBackToList"
                                (mouseenter)="animarBotao('final', 'goBackToList')"
                                (mouseleave)="animarBotao('inicial', 'goBackToList')" type="button"
                                class="btn btn-wd btn-default" (click)="goBackToList()">
                                <span class="btn-label">
                                    <i class="fa fa-arrow-left"></i>
                                </span>
                                {{ "general.backnav" | translate }}
                            </button>
                            <button type="button" [@botaoAnimado]="estadoBotao_addRegister"
                                (mouseenter)="animarBotao('final', 'addRegister')"
                                (mouseleave)="animarBotao('inicial', 'addRegister')"
                                class="btn btn-info btn-fill pull-right" (click)="addRegister()"
                                *ngIf="!isUpdateRegister" [disabled]="rF.invalid || this.isModeViewForm">{{
                                "general.saveregisterbtn" | translate }}</button>

                            <button type="button" [@botaoAnimado]="estadoBotao_updateRegister"
                                (mouseenter)="animarBotao('final','updateRegister')"
                                (mouseleave)="animarBotao('inicial', 'updateRegister')"
                                class="btn btn-info btn-fill pull-right" (click)="updateRegister()"
                                *ngIf="isUpdateRegister" [disabled]="rF.invalid || this.isModeViewForm">{{
                                "general.updateregisterbtn" | translate }}</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>