<div class="autocomplete-container">
  <input
    type="text"
    class="form-control"
    [placeholder]="placeholder"
    [(ngModel)]="searchText"
    (ngModelChange)="onSearch($event)"
    (focus)="onFocus()" 
  />
  <div class="suggestions-list" *ngIf="showSuggestions && filteredItems.length > 0">
    <div
      *ngFor="let item of filteredItems"
      class="suggestion-item"
      (click)="selectItem(item)"
      [class.active]="selectedValue === item.id"
    >
      {{ item.text }}
    </div>
  </div>
</div>
