<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title" class="lead pb-3" *ngIf="!isUpdateRegister && !isModeViewForm">
                            {{ "emailtemplate.TitleAdd" | translate }}
                        </h4>
                        <h4 class="title" class="lead pb-3" *ngIf="isUpdateRegister">
                            {{ "emailtemplate.TitleEdit" | translate }}
                        </h4>
                        <h4 class="title" class="lead pb-3" *ngIf="isModeViewForm">
                            {{ "emailtemplate.TitleView" | translate }}
                        </h4>
                    </div>
                    <div class="content">
                        <form #rF="ngForm" [formGroup]="registerForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <!--description-->
                                    <div class="form-group">
                                        <label for="description">{{ "general.description.title" | translate }}:</label>
                                        <span class="star">*</span>
                                        <input type="text" class="form-control" id="description" name="description"
                                            formControlName="description" maxlength="50"
                                            [ngClass]="!isValidFormDescription() ? '' : 'error'" />
                                        <small [hidden]="!isValidFormDescription()" class="text-danger">
                                            {{ "general.description.required" | translate }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!--language-->
                                    <div class="form-group">
                                        <label for="language">{{ "general.language.title" | translate }}:</label> <span
                                            class="star">*</span>
                                        <select formControlName="language" required name="language" class="form-control"
                                            data-style="btn-default btn-block"
                                            [ngClass]="!isValidFormLanguage() ? '' : 'error'" data-title="Select"
                                            data-menu-style="dropdown-blue" (change)="onSelect($event.target.value)">
                                            <option value="">{{ "general.select" | translate }}</option>
                                            <option *ngFor="let c of languages" [value]="c.code">{{ c.name }}
                                            </option>
                                        </select>
                                        <small [hidden]="!isValidFormLanguage()" class="text-danger">
                                            {{ "general.language.required" | translate }}
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <!--subject-->
                                    <div class="form-group">
                                        <label for="subject">{{ "emailtemplate.subject" | translate }}:</label>
                                        <span class="star">*</span>
                                        <input type="text" class="form-control" id="subject" name="subject"
                                            formControlName="subject" maxlength="255"
                                            [ngClass]="!isValidFormSubject() ? '' : 'error'" />
                                        <small [hidden]="!isValidFormSubject()" class="text-danger">
                                            {{ "emailtemplate.subject_required" | translate }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!--tagApi-->
                                    <div class="form-group">
                                        <label for="tagApi">{{ "emailtemplate.tagApi" | translate }}:</label>
                                        <span class="star">*</span>
                                        <input type="text" class="form-control" id="tagApi" name="tagApi"
                                            formControlName="tagApi" maxlength="255"
                                            [ngClass]="!isValidFormTagApi() ? '' : 'error'" />
                                        <small [hidden]="!isValidFormTagApi()" class="text-danger">
                                            {{ "emailtemplate.tagApi_required" | translate }}
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="body">{{ "emailtemplate.body" | translate }}:</label>
                                        <span class="star">*</span>
                                        <angular-editor id="body" formControlName="body"
                                            [config]="editorConfig"></angular-editor>
                                        <small [hidden]="!isValidFormBody()" class="text-danger">
                                            {{ "emailtemplate.body_required" | translate }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="enableOpt"> {{ "general.enable" | translate }}:</label>
                                        <div class="clearfix"></div>
                                        <bSwitch formControlName="enableOpt" required [switch-on-color]="'primary'">
                                        </bSwitch>
                                    </div>
                                </div>
                            </div>
                            <button [@botaoAnimado]="estadoBotao_goBackToList"
                                (mouseenter)="animarBotao('final', 'goBackToList')"
                                (mouseleave)="animarBotao('inicial', 'goBackToList')" type="button"
                                class="btn btn-wd btn-default" (click)="goBackToList()">
                                <span class="btn-label">
                                    <i class="fa fa-arrow-left"></i>
                                </span>
                                {{ "general.backnav" | translate }}
                            </button>
                            <button type="button" [@botaoAnimado]="estadoBotao_addRegister"
                                (mouseenter)="animarBotao('final', 'addRegister')"
                                (mouseleave)="animarBotao('inicial', 'addRegister')"
                                class="btn btn-info btn-fill pull-right" (click)="addRegister()"
                                *ngIf="!isUpdateRegister" [disabled]="rF.invalid || this.isModeViewForm">{{
                                "general.saveregisterbtn" | translate }}</button>

                            <button type="button" [@botaoAnimado]="estadoBotao_updateRegister"
                                (mouseenter)="animarBotao('final','updateRegister')"
                                (mouseleave)="animarBotao('inicial', 'updateRegister')"
                                class="btn btn-info btn-fill pull-right" (click)="updateRegister()"
                                *ngIf="isUpdateRegister" [disabled]="rF.invalid || this.isModeViewForm">{{
                                "general.updateregisterbtn" | translate }}</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>