<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="card card-calendar">
          <div class="content">
            <!-- Formulário de Evento -->
            <div *ngIf="showEventForm">
              <app-calendar-event-modal [form]="eventForm" [patients]="patients" [labels]="labelsForm"
                [selectedEvent]="selectedEvent" [inputDateIsoString]="inputDateIsoString">
              </app-calendar-event-modal>
              <div class="form-actions">
                <div class="row">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-secondary" (click)="closeEventForm()">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="confirmEventForm()">Save</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Calendário -->
            <div *ngIf="!showEventForm">
              <full-calendar #fullcalendar [options]="calendarOptions"></full-calendar>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>